@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: aqua;
}
.head{
    width:100vw;
    height: 12vh;
    padding-top: 2vh;
    position:fixed;
    background-color: #b3b3b3;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.searchbar{
    position: absolute;
    left:33vw;
    top:3.5vh;
}
#input{
    font-size:large;
    border-radius: 10px;
    width: 35vw;
    height: 4vh;
    outline: none;
    border: none;
    padding-left:2vw;
}
.label_container{
    width:fit-content;
    padding-bottom: 0.5vh;
    font-weight: bold;
    font-size: large;
    
}
.icons{
    height: 6vh;
    width:auto;
    margin-left: 1vw;
    margin-top: 1.5vh;
}
.upper_nav{
    display: flex;
    justify-content: space-between;
}
#locerlogo{
    position: absolute;
    top:0vh;
    height: 5vh;
}

/* Styling of the side-menu */

.side-nav{
    height:100%;
    width:0;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition: 0.5s;
}

.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color:#ccc;
    display:block;
    transition: 0.3s;
}

.side-nav a:hover{
    color:#fff;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left: 50px;
}

#main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow:hidden;
    width:100%;
}